.main-container {
    background-image: url("back_img.png");
    background-position: center bottom;
    background-size: 100vw auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-window {
    width: 350px;
    height: 470px;
    border-radius: 5px;
    padding: 30px 25px;
}

.login-form .input {
    width: 100%;
}

.title {
    display: block;
    font-size: 28px;
    text-align: center;
    padding-bottom: 15px;
}

.descript {
    display: block;
    font-size: 20px;
    text-align: center;
    padding-bottom: 30px;
}

.button {
    font-size: 20px;
    margin-left: 10%;
    margin-top: 5%;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50px;
    border-radius: 25px;
}