<div (window:resize)="onResize()" class="main-container" id="main-container">
    <mat-card class="login-window">
        <form class="login-form">
            <span class="title">
                Добро пожаловать
            </span>
            <span class="descript">Автоматизированная информационная система<br><br>"Законопроект"</span>
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Имя пользователя</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Пароль</mat-label>
                <input matInput>
            </mat-form-field>
            <button mat-raised-button color="primary" class="button" routerLink='/main-page'>Вход</button>
        </form>
    </mat-card>
</div>