* {
    margin: 0;
    padding: 0;
}

.types_button {
    padding-right: 10px;
    background-color: #2d3033;
    color: white;
}

mat-icon {
    margin-right: 5px;
    margin-left: -10px;
}

.tr:hover{
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}