<div class="head">
    <p class="name">АИС Законопроект</p>
</div>

<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" class="menu" opened id="456">

        <mat-accordion multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon style="left: 5px; position: absolute; font-size: 25px; opacity: 70%;">assignment
                        </mat-icon>
                        <p style="padding-left: 12px; font-size: 18px;">Справочники</p>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div>
                    <mat-icon style="padding-top: 10px; position: absolute; font-size: 25px; opacity: 70%;">groups
                    </mat-icon>
                    <button style="height: 41px;" mat-menu-item [matMenuTriggerFor]="usersSubMenu">
                        <p style="padding-left: 20px; font-size: 15px;">Пользователи, права</p>
                    </button>

                    <mat-menu #usersSubMenu="matMenu">
                        <button mat-menu-item>Пользователи</button>
                        <button mat-menu-item>Роли и права</button>
                    </mat-menu>
                </div>

                <mat-divider></mat-divider>

                <button mat-button style="width: 100%; border-radius: 0;">
                    <mat-icon style="top: 8px; left: 0px; position: absolute; font-size: 25px; opacity: 70%;">schema
                    </mat-icon>
                    <p
                        style="font-weight: 400; text-align: left; padding-left: 20px; padding-top: 5px;font-size: 15px;">
                        Структура
                    </p>
                </button>

                <mat-divider></mat-divider>

                <div>
                    <mat-icon style="padding-top: 8px; position: absolute; font-size: 25px; opacity: 70%;">attach_file
                    </mat-icon>
                    <button style="height: 41px;" mat-menu-item [matMenuTriggerFor]="attachmentsSubMenu">
                        <p style="padding-left: 20px; font-size: 15px;">Вложения</p>
                    </button>

                    <mat-menu #attachmentsSubMenu="matMenu">
                        <button mat-menu-item>Типы</button>
                        <button mat-menu-item>Группы</button>
                    </mat-menu>
                </div>

            </mat-expansion-panel>
        </mat-accordion>

        <div style="margin-bottom: 10px; margin-top: 10px;"></div>

        <mat-accordion multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <img class="icon" src="../../assets/notes.png"
                            style="position: absolute; left: 9px; bottom: calc(50% - 10px);">
                        <p style="padding-left: 12px; font-size: 18px;">Регистрационные карты</p>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <button mat-button style="width: 100%; border-radius: 0;">
                    <mat-icon style="top: 8px; left: 0px; position: absolute; font-size: 25px; opacity: 70%;">
                        description
                    </mat-icon>
                    <p
                        style="font-weight: 400; text-align: left; padding-left: 20px; padding-top: 5px;font-size: 15px;">
                        РКК
                    </p>
                </button>

                <mat-divider></mat-divider>

                <button mat-button style="width: 100%; border-radius: 0;">
                    <mat-icon style="top: 8px; left: 0px; position: absolute; font-size: 25px; opacity: 70%;">archive
                    </mat-icon>
                    <p
                        style="font-weight: 400; text-align: left; padding-left: 20px; padding-top: 5px;font-size: 15px;">
                        Архив РКК
                    </p>
                </button>

                <mat-divider></mat-divider>

                <button mat-button style="width: 100%; border-radius: 0;">
                    <mat-icon style="top: 8px; left: 0px; position: absolute; font-size: 25px; opacity: 70%;">delete
                    </mat-icon>
                    <p
                        style="font-weight: 400; text-align: left; padding-left: 20px; padding-top: 5px;font-size: 15px;">
                        Удаление РКК
                    </p>
                </button>

            </mat-expansion-panel>
        </mat-accordion>

    </mat-sidenav>

    <mat-sidenav-content>Main content</mat-sidenav-content>
</mat-sidenav-container>

<button mat-flat-button style="height: 40px; position: absolute; right: 10px; top: 5px;" routerLink="/login">Выход</button>