<div class="head">
    <p>АИС Законопроект</p>
</div>

<div class="menu" id="1323">
    <div class="menu-element" style="border-top: 0px;">
        <img class="icon" src="../../assets/book.png" style="left: 5px;">
        <div style="padding-left: 40px; position: absolute; padding-top: 6px; color: black;">
            Справочники
        </div>
    </div>
    <div (mouseenter)="openUsersMenu()" (mouseleave)="closeUsersMenu()" class="menu-second" id="usersMenu">
        <img class="icon" src="../../assets/group.png" style="top:55px;">
        <div style="padding-left: 65px; padding-top: 2px; position: absolute; color: black;">
            Пользователи, права
        </div>
        <img class="angle" src="../../assets/backimg.png">
    </div>
    <div class="menu-second">
        <img class="icon" src="../../assets/struct.png" style="top:95px;">
        <div style="padding-left: 65px; padding-top: 2px; position: absolute; color: black;">
            Структура
        </div>
    </div>
    <div (mouseenter)="openAttachmentsMenu()" (mouseleave)="closeAttachmentsMenu()" class="menu-second" id="attachmentsMenu">
        <img class="icon" src="../../assets/paper-clip.png" style="top:135px;">
        <div style="padding-top: 2px; padding-left: 65px; position: absolute; color: black;">
            Вложения
        </div>
        <img class="angle" src="../../assets/backimg.png">
    </div>
    <div class="menu-element" style="margin-top: 30px;">
        <img class="icon" src="../../assets/notes.png" style="left: 5px;">
        <div style="padding-left: 40px; position: absolute; padding-top: 6px; color: black;">
            Регистрационные карты
        </div>
    </div>
    <div class="menu-second">
        <img class="icon" src="../../assets/notes.png" style="top:255px;">
        <div style="padding-left: 65px; padding-top: 2px; position: absolute; color: black;">
            РКК
        </div>
    </div>
    <div class="menu-second">
        <img class="icon" src="../../assets/folder.png" style="top:295px;">
        <div style="padding-left: 65px; padding-top: 2px; position: absolute; color: black;">
            Архив РКК
        </div>
    </div>
    <div class="menu-second lightbox">
        <img class="icon" src="../../assets/trash.png" style="top:335px;">
        <div style="padding-left: 65px; padding-top: 2px; position: absolute; color: black;">
            Удаленные РКК
        </div>
    </div>
</div>