* {
    margin: 0;
    padding: 0;
}

.head {
    width: 100vw;
    height: 50px;
    position: absolute;
    color: white;
    background-color: #2d3033;
}

.name {
    padding-top: 12px;
    padding-left: 12px;
    font-size: 25px;
}

.example-container {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
}

.menu {
    width: 250px;
}

.menu-element {
    font-size: 18px;
    padding-top: 10px;
    /*border-bottom: solid 1px;*/
    height: 50px;
}

.menu-second:hover {
    background-color: #ffccbb;
}

.icon {
    opacity: 70%;
    height: 22px;
}

.types_buttons {
    padding-top: 10px;
    padding-left: 10px;
}

.types_button {
    padding-right: 10px;
    background-color: #2d3033;
    color: white;
}

mat-icon {
    margin-right: 5px;
    margin-left: 5px;
}

.tr:hover{
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}