<div style="padding-right: 10px; padding-left: 10px; padding-top: 10px;">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="login">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Логин </th>
            <td mat-cell *matCellDef="let element"> {{element.login}} </td>
        </ng-container>

        <ng-container matColumnDef="fam">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Фамилия </th>
            <td mat-cell *matCellDef="let element"> {{element.fam}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Имя </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="otch">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Отчество </th>
            <td mat-cell *matCellDef="let element"> {{element.otch}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<button (click)="cl()">2121</button>