/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Inter-Medium';
    src: url('./app/fonts/main-font.otf');
}

* {
    font-family: 'Inter-Medium';
    color: #616161;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}